# Editor configuration, see https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
semi_colon= true
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false
